<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="OS.WPFJamme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <appSettings>
  </appSettings>
  <connectionStrings>
    <!--<add name="ACHConnectionString_WINDOWS" connectionString="Server = MT-WS-MO\SQLEXPRESS; Database = Tests; Trusted_Connection = True"/>-->
    <!--<add name="ACHConnectionString_SQL" connectionString="Server=MT-WS-MO\SQLEXPRESS; Database = Tests; user id=sa;password=sa"/>-->
    <!--<add name="ACHConnectionString" connectionString="Server=192.168.246.92;Database=ID_DEV;User ID=wwwlogin;Password=st34k4nd3ggs"/>-->
    <add name="ACHConnectionString" connectionString="Server=MT-WS-MO\SQLEXPRESS; Database = Tests; user id=sa;password=sa"/>
  </connectionStrings>
        
  <userSettings>
    <OS.WPFJamme.Properties.Settings>
        <setting name="PolicyID" serializeAs="String">
            <value>44</value>
        </setting>
        <setting name="ConnectionString" serializeAs="String">
            <value>Server = MT-WS-MO\SQLEXPRESS; Database = Tests; Trusted_Connection = True</value>
        </setting>
        <setting name="URLToRequest" serializeAs="String">
            <value>http://localhost:53731/exe.ach?handler=handler1&amp;command=export</value>
        </setting>
        <setting name="HTTPProfile" serializeAs="String">
            <value>Local-Export</value>
        </setting>
        <setting name="SMTPServer" serializeAs="String">
            <value>mail.optimum.net</value>
        </setting>
        <setting name="EmailUserName" serializeAs="String">
            <value>JohnDoe</value>
        </setting>
        <setting name="EmailFrom" serializeAs="String">
            <value>JohnDoe@Contoso.com</value>
        </setting>
        <setting name="EmailTo" serializeAs="String">
            <value>JaneDoe@Contoso.com</value>
        </setting>
        <setting name="EmailSubject" serializeAs="String">
            <value />
        </setting>
        <setting name="SMTPPort" serializeAs="String">
            <value>25</value>
        </setting>
    </OS.WPFJamme.Properties.Settings>
  </userSettings>
 </configuration>
